.conteiner{
    width: 940px;
    margin-right: auto;
    margin-left: auto;  
}

.sacola{
    background: url(../img/sacola.png) no-repeat top right;
    top: 0;
    right: 0;
    font-size: 14px;
    width: 140;
    text-align: right;
    padding-right: 35px;
}

.menu-opcoes { 
    position: relative;

}

body{
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


