body{
    font-family: 'Lucida Sans Unicode','Lucida Sans','Lucida Grande',Arial;
    font-size: 13pt;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    width: 940;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

figure{
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 2px 5px;
    margin: 30px;
}

figcaption{
    font-style: italic;
}

p{
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
}

a{
    color: black;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550;
    padding: 10px;
}

#rodape{
    margin-right: 30px 0;
    color: #777;
    padding: 30px 0;
}

#rodape img{
    margin-right: 30 px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}